.card {
    margin: 1rem;
    height: 150px;
    position: relative;
    width: 225px;
    border-radius: 2px;
    text-align: left;
    float: left;
  }

  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:black;
    
  }
  .card > .img-container > img {
    width: 40%
    
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  