.card {
    background: lightcoral;
    margin: 1rem;
    height: 250px;
    position: relative;
    width: 325px;
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }